In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:

df = pd.read_csv("data jumlah KK tahun 2020.csv")

In [5]:
df

,tahun,nama_provinsi,nama_kabupaten/kota,nama_kecamatan,jenis_kelamin,usia,jumlah
0,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,<15,1
1,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,15-19,4
2,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,20-24,98
3,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,25-29,415
4,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,30-34,552
...,...,...,...,...,...,...,...
1221,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,PEREMPUAN,55-59,2063
1222,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,PEREMPUAN,60-64,1842
1223,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,PEREMPUAN,65-69,1271
1224,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,PEREMPUAN,70-75,1005
1225,2020,DKI JAKARTA,JAKARTA TIMUR,CIPAYUNG,PEREMPUAN,>75,582

In [6]:
df.head(5)

,tahun,nama_provinsi,nama_kabupaten/kota,nama_kecamatan,jenis_kelamin,usia,jumlah
0,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,<15,1
1,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,15-19,4
2,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,20-24,98
3,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,25-29,415
4,2020,DKI JAKARTA,ADM. KEPULAUAN SERIBU,KEPULAUAN SERIBU UTARA,LAKI-LAKI,30-34,552

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226 entries, 0 to 1225
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tahun                1226 non-null   int64
 1   nama_provinsi        1226 non-null   object
 2   nama_kabupaten/kota  1226 non-null   object
 3   nama_kecamatan       1226 non-null   object
 4   jenis_kelamin        1226 non-null   object
 5   usia                 1226 non-null   object
 6   jumlah               1226 non-null   int64
dtypes: int64(2), object(5)
memory usage: 67.2+ KB

In [8]:
df.isnull().sum()

tahun                  0
nama_provinsi          0
nama_kabupaten/kota    0
nama_kecamatan         0
jenis_kelamin          0
usia                   0
jumlah                 0
dtype: int64

In [11]:
df['nama_kecamatan'].value_counts()

KEPULAUAN SERIBU UTARA      28
KALI DERES                  28
MAMPANG PRAPATAN            28
PASAR MINGGU                28
KEBAYORAN LAMA              28
CILANDAK                    28
KEBAYORAN BARU              28
PANCORAN                    28
JAGAKARSA                   28
PESANGGRAHAN                28
MATRAMAN                    28
PULO GADUNG                 28
JATINEGARA                  28
KRAMATJATI                  28
PASAR REBO                  28
CAKUNG                      28
DUREN SAWIT                 28
MAKASAR                     28
CIRACAS                     28
KEMBANGAN                   28
PAL MERAH                   28
KEBON JERUK                 28
TANJUNG PRIOK               28
GAMBIR                      28
SAWAH BESAR                 28
KEMAYORAN                   28
S E N E N                   28
CEMPAKA PUTIH               28
MENTENG                     28
TANAH ABANG                 28
JOHAR BARU                  28
PENJARINGAN                 28
KOJA                        28
CILINCING                   28
PADEMANGAN                  28
KELAPA GADING               28
CENGKARENG                  28
GROGOL PETAMBURAN           28
TAMAN SARI                  28
TAMBORA                     28
CIPAYUNG                    28
KEPULAUAN SERIBU SELATAN    26
SETIA BUDI                  26
TEBET                       26
Name: nama_kecamatan, dtype: int64

In [12]:
df['usia'].value_counts()

15-19    88
20-24    88
25-29    88
30-34    88
35-39    88
40-44    88
45-49    88
50-54    88
55-59    88
60-64    88
65-69    88
70-75    88
>75      88
<15      82
Name: usia, dtype: int64

In [13]:
na = df.groupby(['nama_kecamatan', 'jenis_kelamin', 'usia'])

In [14]:
na.first()

                                    tahun nama_provinsi nama_kabupaten/kota  \
nama_kecamatan jenis_kelamin usia
CAKUNG         LAKI-LAKI     15-19   2020   DKI JAKARTA       JAKARTA TIMUR
                             20-24   2020   DKI JAKARTA       JAKARTA TIMUR
                             25-29   2020   DKI JAKARTA       JAKARTA TIMUR
                             30-34   2020   DKI JAKARTA       JAKARTA TIMUR
                             35-39   2020   DKI JAKARTA       JAKARTA TIMUR
...                                   ...           ...                 ...
TEBET          PEREMPUAN     55-59   2020   DKI JAKARTA     JAKARTA SELATAN
                             60-64   2020   DKI JAKARTA     JAKARTA SELATAN
                             65-69   2020   DKI JAKARTA     JAKARTA SELATAN
                             70-75   2020   DKI JAKARTA     JAKARTA SELATAN
                             >75     2020   DKI JAKARTA     JAKARTA SELATAN

                                    jumlah
nama_kecamatan jenis_kelamin usia
CAKUNG         LAKI-LAKI     15-19     208
                             20-24    2882
                             25-29   11151
                             30-34   19062
                             35-39   25312
...                                    ...
TEBET          PEREMPUAN     55-59    2557
                             60-64    2350
                             65-69    1925
                             70-75    1648
                             >75      1702

[1226 rows x 4 columns]